[Unit]
Description="Renault Zoe Arrival Service"
PartOf=presence.target

[Service]
User=zoeskill
Group=zoeskill
Environment=LANG=en_US.UTF-8,LC_ALL=en_US.UTF-8
ExecStart=/var/www/zoeskill/bin/arrivalConsumer
Restart=always
